$Color1:#3F5671;
$Color2:#739885;
$Color3:#9DBBBB;
$Color4:#F2F2F2;
$Color5:#3B4C4D;
$lightColor1:#6F96B1;
$lightColor2:#B3D8C5;
$DlightColor1:#4F7691;
$DlightColor2:#93B8A5;

.global
{
    border-width: 1px;
    border-style: dotted;
    border-color: black; 
    margin:0px;
    padding:0px;
    border-radius: 5px;
}

.white
{
    color:rgb(200,200,200);
} 
.flexMessageLeft
{
    display: flex;
    flex-direction: row;
    p
    {
        text-align: justify;
        padding: 2px;
        background-color: $lightColor1;
    }
}
.flexMessageRight
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    p
    {
        text-align: justify;
        padding: 2px;
        background-color: $lightColor2;
    }
}
#contenido
{
        display: flex;
        flex-direction: column;
    div:nth-child(1)
    {
        display: flex;
        flex-direction: column;
        #titulocanal
        {
            width: 100%;
            align-self: flex-start;
        }
    }
    div:nth-child(1)
    {
        #chat
        {
            overflow: scroll;
            overflow-x: hidden;
            flex: 1 1 auto;
            width: 100%;
            align-self: center;
        }
    }
    #message
    {
        div:nth-child(2)
        {
            justify-content: flex-end;
            display: flex;
            flex-direction: column;
            div
            {
                width:100%;
            }
            button
            {
                align-items: center;
            }
        }
    }
    background-color: $Color4;
}
section
{
    height: 100vh;
}

#menuPrincipal
{ 
    background-color: $Color1;
    div
    {
        display: flex;
        flex-direction: column;
    }
}
#titulo
{
    align-items: center;
    justify-content: center;
    img
    {
        width:50px;
        height:50px;
    }
    div:nth-child(1)
    {
        display: flex;
        flex-direction: row;
    }
}

.contenidos
{
    align-items: center;
    justify-content: center;
    h1
    {
        text-align: center;
        font-size: 50px;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(transparent -10%,black 1600%);
        padding:5px;
    }
    h2
    {
        text-align: center;
        font-size: 35px;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(transparent -10%,black 1600%);
        padding:5px;
    }
    h3
    {
        text-align: center;
        font-size: 25px;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(transparent -10%,black 1600%);
        padding:5px;
    }
}
.mOwn
{
    text-align: center;
    font-size: 18px;
    max-width: 80%;
    height: auto;
    background-image: linear-gradient($lightColor2 -10%,black 1600%);
    padding:5px;
    align-self: flex-end;
    justify-self: flex-end;
}
.mCom
{
    text-align: center;
    font-size: 18px;
    max-width: 80%;
    height: auto;
    background-image: linear-gradient($lightColor1 -10%,black 1600%);
    padding:5px;
    align-self: flex-start;
    justify-self: flex-start;
}
#boton1
{
    background-image: linear-gradient(transparent -10%,black 1600%);
    padding:3px;
}
#boton2
{
    background-image: linear-gradient(transparent -10%,black 1600%);
    padding:3px;
}

#Canales
{ 
    background-color: $Color2;
    div
    {
        display: flex;
        flex-direction: column;
    }
}

textarea {
    resize: none;
    overflow: scroll;
    overflow-x: hidden; 
    min-height: 55px;
    max-height: 123px;
}

#message
{
    height: auto;
    width: 100%;
    align-self: flex-end;
}



