.timestamp {
  font-style: italic;
  font-size: 12px;
  color: gray; }

.global {
  margin: 0px;
  padding: 0px;
  border-radius: 5px; }

.globalinner {
  margin: 0px;
  padding: 0px;
  border-radius: 5px; }

.white {
  color: #c8c8c8; }

.flexMessageLeft {
  display: flex;
  flex-direction: row; }
  .flexMessageLeft p {
    text-align: justify;
    padding: 2px;
    background-color: #6F96B1; }

.flexMessageRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .flexMessageRight p {
    text-align: justify;
    padding: 2px;
    background-color: #B3D8C5; }

#contenido {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2; }
  #contenido > div:nth-child(1) {
    display: flex;
    flex-direction: column; }
    #contenido > div:nth-child(1) #titulocanal {
      width: 100%;
      align-self: flex-start; }
  #contenido > div:nth-child(1) {
    overflow: hidden; }
    #contenido > div:nth-child(1) #chat {
      overflow: hidden;
      flex: 1 1 auto;
      width: 98%;
      align-self: center; }
      #contenido > div:nth-child(1) #chat #chatscroll {
        width: 100%;
        overflow: scroll;
        resize: none;
        overflow-x: hidden;
        height: 100%; }
  #contenido #message #messageSon {
    min-height: 65px;
    max-height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row; }
  #contenido #message div:nth-child(1) {
    justify-content: flex-end;
    display: flex;
    flex-direction: column; }
    #contenido #message div:nth-child(1) div {
      width: 100%; }
    #contenido #message div:nth-child(1) button {
      align-items: center; }
  #contenido #message div:nth-child(2) {
    justify-content: flex-end;
    display: flex;
    flex-direction: column; }
    #contenido #message div:nth-child(2) div {
      width: 100%; }
    #contenido #message div:nth-child(2) button {
      align-items: center; }

section {
  height: 100vh; }

#menuPrincipal {
  background-color: #3F5671; }
  #menuPrincipal div {
    display: flex;
    flex-direction: column; }
  #menuPrincipal h3:hover {
    background-color: #6F96B1; }
  #menuPrincipal #chkAmigos:not(checked) ~ div {
    height: 0px;
    overflow: hidden; }
  #menuPrincipal #chkAmigos:checked ~ div {
    height: 300px;
    overflow: hidden; }
  #menuPrincipal #desAmigos {
    max-height: 300px;
    transition: height 0.3s linear;
    height: 0px;
    width: 100%; }
    #menuPrincipal #desAmigos > div:nth-child(2) {
      resize: none;
      overflow: scroll;
      overflow-x: hidden; }
    #menuPrincipal #desAmigos div div {
      padding-left: 5px; }

#titulo {
  align-items: center;
  justify-content: center; }
  #titulo img {
    width: 50px;
    height: 50px; }
  #titulo div:nth-child(1) {
    display: flex;
    flex-direction: row; }

.contenidos {
  align-items: center;
  justify-content: center; }
  .contenidos h1 {
    text-align: center;
    font-size: 50px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent -10%, black 1600%);
    padding: 5px; }
  .contenidos h2 {
    text-align: center;
    font-size: 35px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent -10%, black 1600%);
    padding: 5px; }
  .contenidos h3 {
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent -10%, black 1600%);
    padding: 5px; }

.mOwn {
  text-align: center;
  font-size: 18px;
  max-width: 80%;
  height: auto;
  background-image: linear-gradient(#B3D8C5 -10%, black 1600%);
  padding: 5px;
  align-self: flex-end;
  justify-self: flex-end; }

.mCom {
  text-align: center;
  font-size: 18px;
  max-width: 80%;
  height: auto;
  background-image: linear-gradient(#6F96B1 -10%, black 1600%);
  padding: 5px;
  align-self: flex-start;
  justify-self: flex-start; }

#boton1 {
  background-image: linear-gradient(transparent -10%, black 1600%);
  padding: 3px; }

#boton2 {
  background-image: linear-gradient(transparent -10%, black 1600%);
  padding: 3px; }

#Canales {
  background-color: #739885; }
  #Canales h3:hover {
    background-color: #B3D8C5; }
  #Canales p:hover {
    background-color: #93B8A5; }
  #Canales p {
    border-radius: 5px;
    padding-left: 4px;
    margin: 0px; }
  #Canales #chkCanBuscar:not(checked) ~ div {
    height: 0px;
    overflow: hidden; }
  #Canales #chkCanBuscar:checked ~ div {
    height: 300px;
    overflow: hidden; }
  #Canales #chkCanCrear:not(checked) ~ div {
    height: 0px; }
  #Canales #chkCanCrear:checked ~ div {
    height: 80px; }
  #Canales #chkCanPropios:not(checked) ~ div {
    height: 0px;
    overflow: hidden; }
  #Canales #chkCanPropios:checked ~ div {
    height: 300px;
    overflow: hidden; }
  #Canales div {
    display: flex;
    flex-direction: column; }
  #Canales #canalesGlobales {
    max-height: 300px;
    transition: height 0.3s linear;
    height: 0px;
    width: 100%; }
    #Canales #canalesGlobales > div:nth-child(2) {
      resize: none;
      overflow: scroll;
      overflow-x: hidden; }
    #Canales #canalesGlobales div div {
      padding-left: 5px; }
  #Canales #canalesPropios {
    max-height: 300px;
    transition: height 0.3s linear;
    height: 0px;
    width: 100%; }
    #Canales #canalesPropios > div:nth-child(2) {
      resize: none;
      overflow: scroll;
      overflow-x: hidden; }
    #Canales #canalesPropios div div {
      padding-left: 5px; }
  #Canales #canalCrear {
    max-height: 200px;
    transition: height 0.3s linear;
    height: 0px;
    width: 100%;
    overflow: hidden; }
  #Canales button {
    padding: 5px; }
  #Canales input {
    background-color: #F2F2F2; }

textarea {
  width: 100%;
  resize: none;
  overflow: scroll;
  overflow-x: hidden;
  min-height: 70px;
  max-height: 100%; }

#message {
  width: 100%;
  align-self: flex-end; }

label {
  width: 100%; }

/*# sourceMappingURL=estilos.css.map */
