<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../static/javascript/funciones.js" defer></script>
    <link rel="stylesheet" href="../static/CSS/estilos.css">
    <title>Document</title>
</head>
<body>
    <section class="row col-12">
        <div class="col-2" id="menuPrincipal">
            <div class="">
                <div id="titulo">
                    <div class="">
                            <div><img src = "../static/img/Slack_Icon.png"></div>
                            <div><h1>FlacK</h1></div>
                            <div><img src = "../static/img/flask-tutorial.png"></div>
                    </div>
                </div>
                <div class="contenidos"><h3>Usuario</h3></div>
                <div class="contenidos"><h3>Amigos</h3></div>
            </div>
        </div>
        <div class="col-8" id="contenido">
            <div class="col-12">
                <div class="contenidos">
                    <h2>Channel:Este mismo</h2>
                </div>
                <div id="chat">

                </div>
                <div id="message" class="container-flow row">
                        <textarea class="col-11" onkeyup="auto_grow(this)"></textarea>
                        <button class="col-1">Enviar</button>
                </div>
            </div>
        </div>
        <div class="col-2" id="Canales">
            <div class="col-12">
                <div class="contenidos"><h1>Canales</h1></div>
                <div class="contenidos"><h3>Crear Canales</h3></div>
                <div class="contenidos"><h3>Buscar Canales</h3></div>
                <div class="contenidos"><h3>Canales Propios</h3></div>
            </div>
        </div>
    </section>
</body>
</html>