<!DOCTYPE html>
<html id="html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="../static/javascript/funciones.js" defer></script>
    <link rel="stylesheet" href="../static/CSS/estilos.css">
    <title>Document</title>
</head>

<body>
    <div id="ingresar"><p>Ingreso Usuario</p></div>
    <section class="row" style="width: 100vw;">
        <div class="col-2" id="menuPrincipal">
            <div class="">
                <div id="titulo">
                    <div class="">
                        <div><img src="../static/img/Slack_Icon.png"></div>
                        <div>
                            <h1 class="izquierda white">FlacK</h1>
                        </div>
                        <div><img src="../static/img/flask-tutorial.png"></div>
                    </div>
                </div>
                <div class="contenidos">
                    <h3 class="izquierda white">Usuario</h3>
                </div>
                <div class="contenidos">
                    <input type="checkbox" id="chkAmigos" name="chkAmigos" style="display:none;">
                    <label for="chkAmigos">
                        <h3 class="izquierda white">Amigos</h3>
                    </label>
                    <div id="desAmigos">
                        <div>
                            <input type="search" class="form-control" placeholder="  Buscar Persona">
                        </div>
                        <div>
                            <div>Amigo1</div>
                            <div>Amigo1</div>
                            <div>Amigo1</div>
                            <div>Amigo1</div>
                            <div>Amigo1</div>
                            <div>Amigo1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8" id="contenido">
            <div class="col-12">
                <div id="tituloCanal" class="contenidos">
                    <h2>Channel:Este mismo</h2>
                </div>
                <div id="chat">
                    <div id="chatscroll">
                        <div class="flexMessageLeft">
                            <div class="mCom">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur enim nisi quae
                                    eius deleniti illum voluptatibus libero aliquam excepturi iusto quos, facilis sint
                                    expedita, neque dolores nemo eaque incidunt perferendis!</p>
                            </div>
                        </div>
                        <div class="flexMessageRight">
                            <div class="mOwn">
                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur enim nisi quae
                                    eius deleniti illum voluptatibus libero aliquam excepturi iusto quos, facilis sint
                                    expedita, neque dolores nemo eaque incidunt perferendis!</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="message" class="row">
                    <div id="messageSon">
                        <textarea id ="txtmensaje" class="col-11" onkeyup="auto_grow(this)"></textarea>
                        <div class="col-1">
                            <div><button id="boton1" class="btn btn-primary contenidos">Attach</button></div>
                            <div><button id="boton2" class="btn btn-primary contenidos">Enviar</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2" id="Canales">
            <div class="col-12">
                <div class="text-center">
                    <h1>Canales</h1>
                </div>
                <div class="contenidos">
                    <input type="checkbox" id="chkCanCrear" name="chkCanCrear" style="display:none;">
                    <label for="chkCanCrear">
                        <h3>CrearCanales</h3>
                    </label>
                    <div id="canalCrear">
                        <div>
                            <input id="newChan" name="newChan" class="form-control" placeholder="  Nuevo Canal">
                            <button id="btnCrearCanal" class="btn btn-success">Crear</button>
                        </div>
                    </div>
                </div>
                <div class="contenidos">
                    <input type="checkbox" id="chkCanBuscar" name="chkCanBuscar" style="display:none;">
                    <label for="chkCanBuscar">
                        <h3>Buscar Canales</h3>
                    </label>
                    <div id="canalesGlobales">
                        <div>
                            <input id="buscarCanalGlobal" type="search" class="form-control" placeholder="  Canales globales">
                            <button id="btnBuscarCanalGlobal" class="btn btn-success">Buscar</button>
                        </div>
                        <div>
                            <div><p>mi primer creado</p></div>
                        </div>
                    </div>
                </div>
                <div class="contenidos">
                    <input type="checkbox" id="chkCanPropios" name="chkCanPropios" style="display:none;">
                    <label for="chkCanPropios">
                        <h3>Canales Propios</h3>
                    </label>
                    <div id="canalesPropios">
                        <div>
                            <input id="buscarCanalPropios" type="search" class="form-control" placeholder="  Canales globales">
                            <button id="btnBuscarCanalPropios" class="btn btn-success">Buscar</button>
                        </div>
                        <div>
                            <div><p>mi primer creado</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>